<div class="w-full xl:max-w-sm xl:pl-20">
  <div class="border-t border-gray-300 mt-9 xl:hidden"></div>
  <div>
    <h2 class="text-[#777777] text-xl my-7">Topics</h2>
    <%= render 'commons/topics', post: @post  %>
  </div>
  <div>
    <h2 class="text-[#777777] text-xl my-7">About The Author</h2>
    <p>
      <%= @post.user.about %>
    </p>
  </div>
</div>
