<div class="border-l border-[#777777] mx-20"></div>
<div class="max-w-sm">
  <div>
    <h2 class="text-[#777777] text-xl my-7">Topics</h2>
    <%= render 'commons/topics', post: @post  %>
  </div>
  <div>
    <h2 class="text-[#777777] text-xl my-7">About The Author</h2>
    <p>
      <%= @post.user.about %>
    </p>
  </div>
</div>
