<div class="w-full lg:max-w-sm lg:pl-20">
  <div class="border-t border-gray-300 mt-9 lg:hidden"></div>
  <div>  
    <h2 class="text-[#777777] text-xl my-7">About Us</h2>
    <p>
      We are a passionate team with a single objective.
      Help you design, develop, scale and maintain high quality software.
    </p>
  </div>
  <div>
    <h2 class="text-[#777777] text-xl my-7">Contributors</h2>
    <turbo-frame id="contributors" src="contributors" class="flex" />
  </div>
  <div>
    <h2 class="text-[#777777] text-xl my-7">Topics</h2>
    <turbo-frame id="topics" src="topics" class="flex gap-2" />
  </div>
</div>