.trix-content ul {
  list-style-type: disc !important;
  padding-left: 2.5rem !important;
}

.trix-content ol {
  list-style-type: decimal !important;
  padding-left: 2.5rem !important;
}

.trix ul {
  list-style-type: disc !important;
  padding-left: 2.5rem !important;
}

.trix ol {
  list-style-type: decimal !important;
  padding-left: 2.5rem !important;
}
